{% extends 'base.html.twig' %}

{% block title %}Last movies{% endblock %}

{% block body %}
    <div class="row">
        {% for movie in movies %}
            <div class="col-2 mb-3">
                <div class="card">
                    <img src="{{ movie.posterUrl }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">TBA.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
